# Dependencies
node_modules/

# Compiled Output
dist/

# Environment Variables
.env
.env.local

# Storage / File Uploads
uploads/*
!uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# IDE / OS Files
.DS_Store
.vscode/
.idea/
